body{
    background-color: rgb(221, 219, 219);
}

img{
    height: 200px;
    width: 200px;
}
.botoes1{
    height: 440px;
    width: 440px;
    background-color: lightblue;
    padding-left: 0px;
    border-radius: 10px;
}
.jogador1{
    background-color: darkblue;
    color: white;
    height: 35px;
    text-align: center;
    padding-top: 7px;
    font-size: x-large;
    font-family: "cascadia code";
    border-radius:10px;
}
.contagem-regressiva{
    text-align: center;
    background-color: blue;
}
.botoes2{
    height: 440px;
    width: 440px;
    background-color: rgb(194, 84, 84);
    padding-left: 0px;
    border-radius: 10px;
}
.jogador2{
    background-color: red;
    color: white;
    height: 35px;
    text-align: center;
    padding-top: 7px;
    font-size: x-large;
    font-family: "cascadia code";
    border-radius:10px;
}
p{
    text-align: center;
    font-family: "comic sans ms";
    font-size:xx-large;
    margin:0px;
}
img{
    border-radius: 10px;
}

.button1{
    background-color: lightblue;
    border: none;
    border-radius: 10px;
}

.button1:hover{
    opacity: 0.8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.button2{
    background-color:rgb(194, 84, 84);
    border: none;
    border-radius: 10px;
}

.button2:hover{
    opacity: 0.8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.contagem-regressiva{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}